.elfinder-buttonset, .ui-buttonset {
	display: inline-block;
	position: relative;
	vertical-align: middle;

	> .elfinder-button, > .ui-button {
		float: left;
		position: relative;
		&:hover, &:focus, &:active, &.active {
			z-index: 2;
		}
	}
}

.elfinder-buttonset {
	.elfinder-button + .elfinder-button,
	.elfinder-button + .elfinder-toolbar-button-separator + .elfinder-button,
	.elfinder-button + .elfinder-buttonset,
	.elfinder-buttonset + .elfinder-button,
	.elfinder-buttonset + .elfinder-buttonset {
		margin-left: -1px;
	}
}

.ui-buttonset {
	.ui-button + .ui-button,
	.ui-button + .ui-helper-hidden-accessible + .ui-button,
	.ui-button + .ui-buttonset,
	.ui-buttonset + .ui-button,
	.ui-buttonset + .ui-buttonset {
		margin-left: -1px;
	}
}

.elfinder-button-menu {
	@include clearfix;

	margin-left: -5px;

	.elfinder-button,
	.elfinder-buttonset,
	.ui-button,
	.ui-buttonset {
		float: left;
	}

	> .elfinder-button,
	> .elfinder-buttonset,
	> .ui-button,
	> .ui-buttonset {
		margin-left: 5px;
	}
}

.elfinder-toolbar {
	@include clearfix;

	margin-left: -5px;

	.elfinder-button,
	.elfinder-buttonset {
		float: left;
	}
	> .elfinder-button,
	> .elfinder-buttonset {
		margin-left: 5px;
	}

	.elfinder-toolbar-button-separator {
		display: none;
	}
}

.elfinder-buttonset, .ui-buttonset {
	> .elfinder-button, > .ui-button {
		&:not(:first-child):not(:last-child) {
			border-radius: 0;
		}
		&:first-child {
			margin-left: 0;

			&:not(:last-child) {
				@include border-right-radius(0);
			}
		}
		&:last-child:not(:first-child) {
			@include border-left-radius(0);
		}
	}

	> .elfinder-buttonset, > .ui-buttonset {
		float: left;

		&:not(:first-child):not(:last-child) > .elfinder-button {
			border-radius: 0;
		}
		&:first-child:not(:last-child) {
			> .elfinder-button:last-child {
				@include border-right-radius(0);
			}
		}
		&:last-child:not(:first-child) > .elfinder-button:first-child {
			@include border-left-radius(0);
		}
	}

	> .ui-helper-hidden-accessible {
		display: none;

		&:first-child + .ui-button {
			@include border-left-radius($btn-border-radius-base);
		}
	}
}