.elfinder-button {
	background-image: none;
	border: 1px solid transparent;
	cursor: pointer;
	display: inline-block;
	font-weight: $btn-font-weight;
	margin-bottom: 0;
	text-align: center;
	touch-action: manipulation;
	white-space: nowrap;

	@include button-variant($btn-default-color, $btn-default-bg, $btn-default-border);
	@include button-size($padding-base-vertical, $padding-base-horizontal, $font-size-base, $line-height-base, $btn-border-radius-base);
	@include user-select(none);

	&,
	&:active {
		&:focus {
			@include tab-focus;
		}
	}

	&:hover,
	&.ui-state-hover,
	&:focus {
		color: $btn-default-color;
		text-decoration: none;
	}

	&:active {
		@include box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
		background-image: none;
		outline: 0;
	}

	&[disabled],
	&.ui-state-disabled {
		@include box-shadow(none);
		@include opacity(.65);
		cursor: $cursor-disabled;
	}

	&.elfinder-button-search {
		background-color: transparent;
		border: none transparent;
		cursor: default;
		float: right !important;
		font-weight: normal;
		padding: 0;
		position: relative;

		> input[type="text"] {
			@include box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
			@include transition(border-color .15s ease-in-out, box-shadow .15s ease-in-out);

			background-color: $input-bg;
			background-image: none;
			border: 1px solid $input-border;
			border-radius: $input-border-radius;
			color: $input-color;
			display: block;
			font-size: $font-size-base;
			height: $input-height-base;
			line-height: $line-height-base;
			padding: $padding-base-vertical $padding-base-horizontal;
			width: auto;

			@include form-control-focus();
			@include placeholder();

			&[disabled],
			&[readonly],
			&.ui-state-disabled,
			fieldset[disabled] & {
				background-color: $input-bg-disabled;
				cursor: $cursor-disabled;
				opacity: 1;
			}
		}
		> .ui-icon {
			@include translate(0, -50%);

			position: absolute;
			top: 50%;
			left: $grid-gutter-width / 2;

			+ .ui-icon {
				left: auto;
				right: $grid-gutter-width / 2;
			}
		}
	}
}

a.elfinder-button {
	&.ui-state-disabled,
	fieldset[disabled] & {
		pointer-events: none;
	}
}

