> .elfinder-cwd-wrapper {
	.elfinder-cwd {
		&.elfinder-cwd-view-icons {
			.elfinder-cwd-file {
				float: left;

				height: ceil(($font-size-h1 * $line-height-base) + $line-height-computed);
				padding-left: $grid-gutter-width / 2;
				padding-right: $grid-gutter-width / 2;
				width: ceil((($font-size-h1 * $line-height-base) + $line-height-computed) / 4 * 3);

				.elfinder-cwd-icon {
					display: block;
					font-size: $font-size-h1;
					text-align: center;
				}
				.elfinder-cwd-filename {
					text-align: center;
				}

				&.ui-state-hover, &:hover, &:focus {
					background-color: $table-bg-hover;
				}
				&.ui-state-active, &.ui-selected, &:active {
					background-color: $btn-primary-bg;
					color: $btn-primary-color;

					&.ui-state-hover, &:hover {
						background-color: $table-bg-hover;
					}
				}
			}
		}
		&.elfinder-cwd-view-list {
			@include make-row();

			.elfinder-cwd-file {
				.elfinder-cwd-icon {
					height: $line-height-computed;
					margin-right: 5px;
					vertical-align: middle;
					width: $line-height-computed;

					&.elfinder-cwd-bgurl {
						background-repeat: no-repeat;
						background-size: cover;

						&::after {
							display: none;
						}
					}
				}
				.elfinder-cwd-filename {
					vertical-align: middle;
				}
			}
		}
	}
}