.elfinder-menubutton {
	position: relative;
}

.elfinder-button-menu {
	@include box-shadow(0 6px 12px rgba(0, 0, 0, .175));
	background-clip: padding-box;
	background-color: $dropdown-bg;
	border: 1px solid $dropdown-fallback-border;
	border: 1px solid $dropdown-border;
	border-radius: $border-radius-base;
	display: none;
	float: left;
	font-size: $font-size-base;
	left: 0;
	list-style: none;
	margin: 2px 0 0;
	min-width: 160px;
	padding: 5px 0;
	position: absolute;
	text-align: left;
	top: 100%;
	z-index: $zindex-dropdown;

	.elfinder-button-menu-item-separated {
		&::before {
			@include nav-divider($dropdown-divider-bg);
			content: "";
		}
	}
	> .elfinder-button-menu-item {
		clear: both;
		color: $dropdown-link-color;
		cursor: pointer;
		display: block;
		font-weight: normal;
		line-height: $line-height-base;
		padding: 3px 20px 3px 25px;
		position: relative;
		white-space: nowrap;

		&:hover, &:focus,
		&.ui-state-hover {
			background-color: $dropdown-link-hover-bg;
			color: $dropdown-link-hover-color;
			text-decoration: none;
		}

		> .ui-icon, > .elfinder-button-icon {
			@include translate(0, -50%);
			left: 5px;
			position: absolute;
			text-align: center;
			top: 50%;
			width: $font-size-base;
		}

		&.elfinder-button-menu-item-selected {
			&, &:hover, &:focus, &.ui-state-hover {
				background-color: $dropdown-link-active-bg;
				color: $dropdown-link-active-color;
				text-decoration: none;
				outline: 0;
			}
		}
	}
}

.elfiner-button-sort, .elfinder-button-sort {
	.elfinder-button-menu {
		> .elfinder-button-menu-item {
			> .ui-icon, > .elfinder-button-icon {
				display: none;
			}
			&.elfinder-button-menu-item-selected {
				> .ui-icon, > .elfinder-button-icon {
					display: inline-block;
				}
				&.elfinder-button-menu-item-selected-desc {
					> .ui-icon.ui-icon-arrowthick-1-n {
						display: none;
					}
				}
				&.elfinder-button-menu-item-selected-asc {
					> .ui-icon.ui-icon-arrowthick-1-s {
						display: none;
					}
				}
			}
		}
	}
}

.elfinder-contextmenu, .elfinder-contextmenu-sub {
	@extend .elfinder-button-menu;

	.elfinder-contextmenu-separator {
		@include nav-divider($dropdown-divider-bg);
	}
	> .elfinder-contextmenu-item {
		@extend .elfinder-button-menu-item;

		> .elfinder-contextmenu-extra-icon, > .elfinder-contextmenu-arrow {
			@include translate(0, -50%);

			position: absolute;
			right: 5px;
			text-align: center;
			top: 50%;
			width: $font-size-base;
		}
		> .elfinder-contextmenu-arrow {
			@include fa-icon;

			&::after {
				content: map-get($fa-icons, caret-right);
			}
		}
		> .elfinder-contextmenu-extra-icon {
			cursor: pointer;

			> * {
				display: none;
			}
			> a {
				@include text-hide;

				bottom: 0;
				display: block;
				left: 0;
				position: absolute;
				right: 0;
				top: 0;
			}
		}
	}
}