$icons: (
	elfinder-button: (
		home: $fa-var-home,
		back: $fa-var-chevron-left,
		forward: $fa-var-chevron-right,
		up: $fa-var-level-up-alt,
		dir: $fa-var-folder,
		opendir: $fa-var-folder-open,
		reload: $fa-var-sync,
		open: $fa-var-folder-open,
		mkdir: $fa-var-folder,
		mkfile: $fa-var-file,
		rm: $fa-var-trash-alt,
		trash: $fa-var-trash-alt,
		restore: $fa-var-undo,
		copy: $fa-var-copy,
		cut: $fa-var-cut,
		paste: $fa-var-clipboard,
		getfile: $fa-var-mouse-pointer,
		duplicate: $fa-var-copy,
		rename: $fa-var-i-cursor,
		edit: $fa-var-pencil-alt,
		quicklook: $fa-var-eye,
		upload: $fa-var-upload,
		download: $fa-var-download,
		info: $fa-var-info,
		extract: $fa-var-file-archive,
		archive: $fa-var-file-archive,
		view: $fa-var-window-maximize,
		view-list: $fa-var-list-alt,
		help: $fa-var-question,
		resize: $fa-var-edit,
		link: $fa-var-link,
		search: $fa-var-search,
		sort: $fa-var-sort,
		rotate-r: $fa-var-undo,
		rotate-l: $fa-var-redo,
		netmount: $fa-var-server,
		netunmount: $fa-var-server,
		places: $fa-var-star,
		chmod: $fa-var-asterisk,
		accept: $fa-var-check,
		menu: $fa-var-bars,
		colwidth: $fa-var-columns,
		fullscreen: $fa-var-expand,
		unfullscreen: $fa-var-compress,
		empty: $fa-var-ban,
		undo: $fa-var-undo,
		redo: $fa-var-redo,
		preference: $fa-var-cog,
		mkdirin: $fa-var-long-arrow-alt-right,
		selectall: $fa-var-th,
		selectnone: $fa-var-table,
		selectinvert: $fa-var-window-maximize,
	),
	elfinder-navbar: (
		dir: $fa-var-folder,
		root: $fa-var-home,
		root-local: $fa-var-hdd,
		root-trash: $fa-var-trash-alt,
		root-ftp: $fa-var-server,
		root-sql: $fa-var-database,
		root-dropbox: $fa-var-dropbox,
		root-googledrive: $fa-var-google,
		root-onedrive: $fa-var-windows,
		root-box: $fa-var-archive,
		root-network: $fa-var-server
	),
	elfinder-cwd: (
		default: $fa-var-file,
		directory: $fa-var-folder,
		application: $fa-var-window-maximize,
		x-empty: $fa-var-file-code,
		text: $fa-var-file-alt,
		image: $fa-var-file-image,
		vnd-adobe-photoshop: $fa-var-file-image,
		postscript: $fa-var-file-image,
		audio: $fa-var-file-audio,
		video: $fa-var-file-video,
		flash-video: $fa-var-file-video,
		dash-xml: $fa-var-file-video,
		vnd-apple-mpeg: $fa-var-file-video,
		x-mpeg: $fa-var-file-video,
		rtf: $fa-var-file-alt,
		rtfd: $fa-var-file-alt,
		pdf: $fa-var-file-pdf,
		ms-excel: $fa-var-file-excel,
		msword: $fa-var-file-word,
		vnd-ms-excel: $fa-var-file-excel,
		vnd-ms-excel-addin-macro: $fa-var-file-excel,
		vnd-ms-excel-sheet-binary-macro: $fa-var-file-excel,
		vnd-ms-excel-sheet-macro: $fa-var-file-excel,
		vnd-ms-excel-template-macro: $fa-var-file-excel,
		vnd-ms-office: $fa-var-file,
		vnd-ms-powerpoint: $fa-var-file-powerpoint,
		vnd-ms-powerpoint-addin-macro: $fa-var-file-powerpoint,
		vnd-ms-powerpoint-presentation-macro: $fa-var-file-powerpoint,
		vnd-ms-powerpoint-slide-macro: $fa-var-file-powerpoint,
		vnd-ms-powerpoint-slideshow-macro: $fa-var-file-powerpoint,
		vnd-ms-powerpoint-template-macro: $fa-var-file-powerpoint,
		vnd-ms-word: $fa-var-file-word,
		vnd-ms-word-document-macro: $fa-var-file-word,
		vnd-ms-word-template-macro: $fa-var-file-word,
		vnd-oasis-opendocument-chart: $fa-var-chart-line,
		vnd-oasis-opendocument-database: $fa-var-database,
		vnd-oasis-opendocument-formula: $fa-var-file-excel,
		vnd-oasis-opendocument-graphics: $fa-var-file-image,
		vnd-oasis-opendocument-graphics-template: $fa-var-file-image,
		vnd-oasis-opendocument-image: $fa-var-file-image,
		vnd-oasis-opendocument-presentation: $fa-var-file-powerpoint,
		vnd-oasis-opendocument-presentation-template: $fa-var-file-powerpoint,
		vnd-oasis-opendocument-spreadsheet: $fa-var-file-excel,
		vnd-oasis-opendocument-spreadsheet-template: $fa-var-file-excel,
		vnd-oasis-opendocument-text: $fa-var-file-word,
		vnd-oasis-opendocument-text-master: $fa-var-file-word,
		vnd-oasis-opendocument-text-template: $fa-var-file-word,
		vnd-oasis-opendocument-text-web: $fa-var-file-word,
		vnd-openofficeorg-extension: $fa-var-file,
		vnd-openxmlformats-officedocument-presentationml-presentation: $fa-var-file-powerpoint,
		vnd-openxmlformats-officedocument-presentationml-slide: $fa-var-file-powerpoint,
		vnd-openxmlformats-officedocument-presentationml-slideshow: $fa-var-file-powerpoint,
		vnd-openxmlformats-officedocument-presentationml-template: $fa-var-file-powerpoint,
		vnd-openxmlformats-officedocument-spreadsheetml-sheet: $fa-var-file-excel,
		vnd-openxmlformats-officedocument-spreadsheetml-template: $fa-var-file-excel,
		vnd-openxmlformats-officedocument-wordprocessingml-document: $fa-var-file-word,
		vnd-openxmlformats-officedocument-wordprocessingml-template: $fa-var-file-word,
		html: $fa-var-file-code,
		css: $fa-var-file-code,
		javascript: $fa-var-file-code,
		x-javascript: $fa-var-file-code,
		x-perl: $fa-var-file-code,
		x-python: $fa-var-file-code,
		x-ruby: $fa-var-file-code,
		x-sh: $fa-var-file-code,
		x-shellscript: $fa-var-file-code,
		x-c: $fa-var-file-code,
		x-csrc: $fa-var-file-code,
		x-chdr: $fa-var-file-code,
		x-c--: $fa-var-file-code,
		x-c--src: $fa-var-file-code,
		x-c--hdr: $fa-var-file-code,
		x-java: $fa-var-file-code,
		x-java-source: $fa-var-file-code,
		x-php: $fa-var-file-code,
		xml: $fa-var-file-code,
		zip: $fa-var-file-archive,
		x-zip: $fa-var-file-archive,
		x-xz: $fa-var-file-archive,
		x-7z-compressed: $fa-var-file-archive,
		x-gzip: $fa-var-file-archive,
		x-tar: $fa-var-file-archive,
		x-bzip: $fa-var-file-archive,
		x-bzip2: $fa-var-file-archive,
		x-rar: $fa-var-file-archive,
		x-rar-compressed: $fa-var-file-archive,
		x-shockwave-flash: $fa-var-file-video,
		group: $fa-var-copy,
	),
	ui: (
		carat-1-n: $fa-var-angle-up,
		carat-1-e: $fa-var-angle-right,
		carat-1-s: $fa-var-angle-down,
		carat-1-w: $fa-var-angle-left,
		carat-2-n-s: $fa-var-sort,
		triangle-1-n: $fa-var-caret-up,
		triangle-1-e: $fa-var-caret-right,
		triangle-1-s: $fa-var-caret-down,
		triangle-1-w: $fa-var-caret-left,
		triangle-2-n-s: $fa-var-sort,
		arrow-1-n: $fa-var-long-arrow-alt-up,
		arrow-1-e: $fa-var-long-arrow-alt-right,
		arrow-1-s: $fa-var-long-arrow-alt-down,
		arrow-1-w: $fa-var-long-arrow-alt-left,
		arrow-2-n-s: $fa-var-arrows-alt-v,
		arrow-2-ne-sw: $fa-var-expand,
		arrow-2-e-w: $fa-var-arrows-alt-h,
		arrow-2-se-nw: $fa-var-expand,
		arrowstop-1-n: $fa-var-long-arrow-alt-up,
		arrowstop-1-e: $fa-var-long-arrow-alt-right,
		arrowstop-1-s: $fa-var-long-arrow-alt-down,
		arrowstop-1-w: $fa-var-long-arrow-alt-left,
		arrowthick-1-n: $fa-var-arrow-up,
		arrowthick-1-e: $fa-var-arrow-right,
		arrowthick-1-s: $fa-var-arrow-down,
		arrowthick-1-w: $fa-var-arrow-left,
		arrowthickstop-1-n: $fa-var-arrow-up,
		arrowthickstop-1-e: $fa-var-arrow-right,
		arrowthickstop-1-s: $fa-var-arrow-down,
		arrowthickstop-1-w: $fa-var-arrow-left,
		arrowreturnthick-1-w: $fa-var-reply,
		arrowreturnthick-1-e: $fa-var-share,
		arrowreturn-1-w: $fa-var-reply,
		arrowreturn-1-e: $fa-var-share,
		arrowrefresh-1-w: $fa-var-sync,
		arrowrefresh-1-n: $fa-var-sync,
		arrowrefresh-1-e: $fa-var-sync,
		arrowrefresh-1-s: $fa-var-sync,
		arrow-4: $fa-var-arrows-alt,
		arrow-4-diag: $fa-var-expand-arrows-alt,
		extlink: $fa-var-external-link-alt,
		newwin: $fa-var-window-restore,
		refresh: $fa-var-sync,
		shuffle: $fa-var-random,
		transfer-e-w: $fa-var-exchange-alt,
		transferthick-e-w: $fa-var-exchange-alt,
		folder-collapsed: $fa-var-folder,
		folder-open: $fa-var-folder-open,
		document: $fa-var-file,
		document-b: $fa-var-file,
		note: $fa-var-sticky-note,
		mail-closed: $fa-var-envelope,
		mail-open: $fa-var-envelope-open,
		suitcase: $fa-var-suitcase,
		comment: $fa-var-comment,
		person: $fa-var-user,
		print: $fa-var-print,
		trash: $fa-var-trash-alt,
		locked: $fa-var-lock,
		unlocked: $fa-var-unlock,
		bookmark: $fa-var-bookmark,
		tag: $fa-var-tag,
		home: $fa-var-home,
		flag: $fa-var-flag,
		calendar: $fa-var-calendar,
		cart: $fa-var-shopping-cart,
		pencil: $fa-var-pencil-alt,
		clock: $fa-var-clock,
		disk: $fa-var-save,
		calculator: $fa-var-calculator,
		zoomin: $fa-var-search-plus,
		zoomout: $fa-var-search-minus,
		search: $fa-var-search,
		wrench: $fa-var-wrench,
		gear: $fa-var-cog,
		heart: $fa-var-heart,
		star: $fa-var-star,
		link: $fa-var-link,
		cancel: $fa-var-ban,
		plus: $fa-var-plus,
		plusthick: $fa-var-plus,
		minus: $fa-var-minus,
		minusthick: $fa-var-minus,
		close: $fa-var-times,
		closethick: $fa-var-times,
		key: $fa-var-key,
		lightbulb: $fa-var-lightbulb,
		scissors: $fa-var-cut,
		clipboard: $fa-var-clipboard,
		copy: $fa-var-copy,
		contact: $fa-var-address-card,
		image: $fa-var-image,
		video: $fa-var-film,
		script: $fa-var-code,
		alert: $fa-var-exclamation-triangle,
		info: $fa-var-info-circle,
		notice: $fa-var-exclamation,
		help: $fa-var-question,
		check: $fa-var-check,
		bullet: $fa-var-circle,
		radio-on: $fa-var-toggle-on,
		radio-off: $fa-var-toggle-off,
		pin-w: $fa-var-thumbtack,
		pin-s: $fa-var-thumbtack,
		play: $fa-var-play,
		pause: $fa-var-pause,
		seek-next: $fa-var-forward,
		seek-prev: $fa-var-backward,
		seek-end: $fa-var-fast-forward,
		seek-start: $fa-var-fast-backward,
		seek-first: $fa-var-fast-backward,
		stop: $fa-var-stop,
		eject: $fa-var-eject,
		volume-off: $fa-var-volume-off,
		volume-on: $fa-var-volume-up,
		power: $fa-var-power-off,
		signal-diag: $fa-var-rss,
		signal: $fa-var-signal,
		battery-0: $fa-var-battery-empty,
		battery-1: $fa-var-battery-quarter,
		battery-2: $fa-var-battery-half,
		battery-3: $fa-var-battery-full,
		circle-plus: $fa-var-plus-circle,
		circle-minus: $fa-var-minus-circle,
		circle-close: $fa-var-times-circle,
		circle-triangle-e: $fa-var-caret-square-right,
		circle-triangle-s: $fa-var-caret-square-down,
		circle-triangle-w: $fa-var-caret-square-left,
		circle-triangle-n: $fa-var-caret-square-up,
		circle-arrow-e: $fa-var-arrow-circle-right,
		circle-arrow-s: $fa-var-arrow-circle-down,
		circle-arrow-w: $fa-var-arrow-circle-left,
		circle-arrow-n: $fa-var-arrow-circle-up,
		circle-zoomin: $fa-var-search-plus,
		circle-zoomout: $fa-var-search-minus,
		circle-check: $fa-var-check-circle,
		circlesmall-plus: $fa-var-plus-circle,
		circlesmall-minus: $fa-var-minus-circle,
		circlesmall-close: $fa-var-times-circle,
		squaresmall-plus: $fa-var-plus-square,
		squaresmall-minus: $fa-var-minus-square,
		squaresmall-close: $fa-var-window-close,
		grip-dotted-vertical: $fa-var-ellipsis-v,
		grip-dotted-horizontal: $fa-var-ellipsis-h,
		grip-solid-vertical: $fa-var-ellipsis-v,
		grip-solid-horizontal: $fa-var-ellipsis-h
	),
	elfinder-quicklook-navbar: (
		prev: $fa-var-arrow-left,
		fullscreen: $fa-var-expand,
		fullscreen-off: $fa-var-compress,
		next: $fa-var-arrow-right
	)
);

@each $icon-type, $type-icons in $icons {
	@if ($icon-type == elfinder-navbar) {
		@each $icon-name, $content in $type-icons {
			@if ($icon-name == default) {
				.elfinder-navbar .#{$icon-type}-icon {
					@include fa-icon;

					&::after {
						content: fa-content($content);
					}
				}
			} @else {
				.elfinder-navbar-#{$icon-name} .#{$icon-type}-icon {
					@include fa-icon;

					&::after {
						content: fa-content($content);
					}
				}
			}
		}
	} @else {
		.#{$icon-type}-icon {
			@include fa-icon;

			@each $icon-name, $content in $type-icons {
				@if ($icon-name == default) {
					&::after {
						content: fa-content($content);
					}
				} @else {
					&.#{$icon-type}-icon-#{$icon-name}::after {
						content: fa-content($content);
					}
				}
			}
		}
	}
	//.#{$icon-type}-icon {
	//	@include fa-icon;
	//
	//	@each $icon-name, $content in $type-icons {
	//		@if ($icon-name == default) {
	//			&::after {
	//				content: $content;
	//			}
	//		} @else {
	//			@if ($icon-type == elfinder-navbar) {
	//				.elfinder-navbar-#{$icon-name} & {
	//					&::after {
	//						content: $content;
	//					}
	//				}
	//			} @else {
	//				&.#{$icon-type}-icon-#{$icon-name}::after {
	//					content: $content;
	//				}
	//			}
	//		}
	//	}
	//}
}


.elfinder-navbar-dir {
	.elfinder-navbar-arrow {
		@include fa-icon;
	}

	&.elfinder-navbar-collapsed {
		.elfinder-navbar-arrow::after {
			content: fa-content($fa-var-caret-right);
		}
		&.elfinder-navbar-expanded {
			.elfinder-navbar-arrow::after {
				content: fa-content($fa-var-caret-down);
			}
			&:not(.elfinder-navbar-root) {
				.elfinder-navbar-icon::after {
					content: fa-content($fa-var-folder-open);
				}
			}
		}
	}
}