.elfinder-tree,
.elfinder-navbar-subtree {
	margin-bottom: 20px;
	padding-left: 0;

	> .elfinder-navbar-wrapper {
		$sel: '';
		@for $i from 1 through 10 {
			$sel: if($i == 1, "> .elfinder-navbar-subtree", selector-nest($sel, "> .elfinder-navbar-wrapper > .elfinder-navbar-subtree"));

			#{$sel} {
				> .elfinder-navbar-wrapper {
					> .elfinder-navbar-dir {
						@include border-top-radius(0);
						padding: 10px 15px 10px (($i * ($grid-gutter-width / 2)) + ($grid-gutter-width / 2));
					}

					&:last-child {
						margin-bottom: -10px;
					}
				}
			}
		}
	}
}

.elfinder-tree .elfinder-navbar-subtree:empty {
	display: none;
}

.elfinder-navbar-wrapper {
	> .elfinder-navbar-dir {
		background-color: $list-group-bg;
		border: 1px solid $list-group-border;
		display: block;
		margin-bottom: -1px;
		padding: 10px 15px;
		position: relative;

		// Link styles
		color: $list-group-link-color;
		cursor: pointer;

		&:hover,
		&:focus,
		&.ui-state-hover {
			background-color: $list-group-hover-bg;
			color: $list-group-link-hover-color;
			text-decoration: none;
		}
	}

	&:first-child {
		> .elfinder-navbar-dir {
			@include border-top-radius($list-group-border-radius);
		}
	}
	&:last-child {
		> .elfinder-navbar-dir:not(.elfinder-navbar-collapsed) {
			@include border-bottom-radius($list-group-border-radius);
			margin-bottom: 0;
		}
	}

	&, > .elfinder-navbar-dir {
		&:disabled,
		&.ui-state-disabled {
			&, &:hover, &:focus {
				background-color: $list-group-disabled-bg;
				color: $list-group-disabled-color;
				cursor: $cursor-disabled;
			}
		}
		&:active,
		&.ui-state-active {
			&, &:hover, &:focus {
				background-color: $list-group-active-bg;
				border-color: $list-group-active-border;
				color: $list-group-active-color;
				z-index: 2;
			}
		}
	}
}

