.elfinder-dialog {
	@include box-shadow(0 3px 9px rgba(0,0,0,.5));

	background-clip: padding-box;
	background-color: $modal-content-bg;
	border: 1px solid $modal-content-fallback-border-color;
	border: 1px solid $modal-content-border-color;
	border-radius: $border-radius-large;
	display: none;
	margin: 10px;
	outline: 0;
	position: absolute;
	z-index: $zindex-modal;

	.ui-dialog-titlebar { // header
		@include clearfix;

		border-bottom: 1px solid $modal-header-border-color;
		padding: $modal-title-padding;

		.elfinder-dialog-title {
			color: $headings-color;
			font-size: $font-size-h4;
			font-weight: $headings-font-weight;
			line-height: $modal-title-line-height;
			margin: 0;
		}
		.elfinder-titlebar-button {
			cursor: pointer;
			float: right;
			margin-top: -2px;
		}
	}
	.ui-dialog-content { // body
		overflow-y: auto !important;
		padding: $modal-inner-padding;
		position: relative;
	}
	.ui-dialog-buttonpane { // footer
		@include clearfix;

		border-top: 1px solid $modal-footer-border-color;
		padding: $modal-inner-padding;
		text-align: right;
	}

	@import "modals/info";
	@import "modals/resize";
	@import "modals/upload";
}