.elfinder-toolbar {
	@include border-top-radius(($panel-border-radius - 1));

	border-bottom: 1px solid transparent;
	padding: $panel-heading-padding;
}

& {
	background-color: $panel-bg;
	border: 1px solid $panel-default-border;
	border-radius: $panel-border-radius;
	margin-bottom: $line-height-computed;

	> .elfinder-toolbar {
		color: $panel-default-text;
		background-color: $panel-default-heading-bg;
		border-color: $panel-default-border;
		margin-left: 0;
	}
}

.elfinder-workzone {
	> .elfinder-navbar {
		border-right: 1px solid $panel-inner-border;
		float: left;
		max-width: 50%;
		min-height: 100%;
		overflow: auto;
		padding-right: 0;
		position: relative;
		width: percentage(3 / $grid-columns);
		z-index: $zindex-navbar - 1;

		> .ui-resizable-handle {
			@include fa-icon;

			cursor: e-resize;
			height: 100%;
			position: absolute;
			width: 10px;

			&::after {
				@include translate(-50%, -50%);

				content: fa-content($fa-var-ellipsis-v);
				left: 50%;
				position: absolute;
				top: 50%;
			}
		}
	}
	> .elfinder-navdock {
		@include box-sizing(border-box);
		bottom: 0;
		height: auto;
		overflow: auto;
		position: absolute;
		width: percentage(3 / $grid-columns);
	}
	> .elfinder-cwd-wrapper {
		float: none;
		overflow: auto;
		padding: min(7px, $panel-body-padding);
		position: relative;
		width: auto;
		z-index: 0;

		&.elfinder-cwd-wrapper-list{
			padding-top: 0;

			&.elfinder-cwd-fixheader {
				padding-bottom: 0;
				position: absolute;
				overflow: hidden;
			}
		}
	}
}

.elfinder-statusbar {
	@include border-bottom-radius(($panel-border-radius - 1));

	background-color: $panel-footer-bg;
	border-top: 1px solid $panel-inner-border;
	padding: $panel-footer-padding;
}