.elfinder-quicklook {
	@include box-shadow(0 3px 9px rgba(0,0,0,.5));

	background-clip: padding-box;
	background-color: $modal-content-bg;
	border: 1px solid $modal-content-fallback-border-color;
	border: 1px solid $modal-content-border-color;
	border-radius: $border-radius-large;
	display: none;
	margin: 10px;
	outline: 0;
	position: absolute;
	z-index: $zindex-modal;

	.ui-draggable-handle {
		cursor: move;
	}
	.ui-resizable-handle {
		bottom: 0;
		cursor: se-resize;
		height: $grid-gutter-width / 2;
		position: absolute;
		right: 0;
		width: $grid-gutter-width / 2;
	}
}

.elfinder-quicklook-titlebar {
	@include clearfix;

	border-bottom: 1px solid $modal-header-border-color;
	padding: $modal-title-padding;
	position: relative;

	.elfinder-quicklook-title {
		color: $headings-color;
		font-size: $font-size-h4;
		font-weight: $headings-font-weight;
		line-height: $modal-title-line-height;
		margin: 0;
	}
	.ui-icon {
		@include translate(0, -50%);
		cursor: pointer;
		position: absolute;
		right: $modal-title-padding;
		top: 50%;

		&::after {
			content: map-get($fa-icons, times);
		}
	}
}

.elfinder-quicklook-preview, .elfinder-quicklook-info-wrapper, .elfinder-quicklook-cover {
	height: 100%;
	padding: $modal-inner-padding;
	position: relative;
	width: 100%;

	height: -webkit-calc(100% - #{ceil($font-size-h4 * $modal-title-line-height) + (2 * $modal-title-padding)} - #{$font-size-h2 + (2 * $modal-inner-padding)});
	height: -moz-calc(100% - #{ceil($font-size-h4 * $modal-title-line-height) + (2 * $modal-title-padding)} - #{$font-size-h2 + (2 * $modal-inner-padding)});
	height: calc(100% - #{ceil($font-size-h4 * $modal-title-line-height) + (2 * $modal-title-padding)} - #{$font-size-h2 + (2 * $modal-inner-padding)});

	&:empty {
		display: none;
		height: 0;
	}
}

.elfinder-quicklook-info-wrapper {
	&, > .elfinder-quicklook-info {
		overflow: hidden;
		zoom: 1;
	}

	> .elfinder-quicklook-info,
	> .elfinder-cwd-icon {
		display: table-cell;
		vertical-align: top;
	}
	> .elfinder-cwd-icon {
		font-size: $font-size-h1;
		padding-right: 10px;
	}
	> .elfinder-quicklook-info {
		width: 10000px;

		> .elfinder-quicklook-info-data {
			display: block;

			&:first-child {
				font-size: $font-size-h5;
				font-weight: $headings-font-weight;
				line-height: $headings-line-height;
				margin-bottom: ($line-height-computed / 2);
			}
		}
	}
}

.elfinder-quicklook-navbar {
	@include clearfix;

	border-top: 1px solid $modal-footer-border-color;
	padding: $modal-inner-padding;
	text-align: center;

	.elfinder-quicklook-navbar-icon, .elfinder-quicklook-navbar-separator {
		display: inline-block;
		font-size: $font-size-h2;
		line-height: 1;
	}
}