caption {
	color: $text-muted;
	padding-bottom: $table-cell-padding;
	padding-top: $table-cell-padding;
	text-align: left;
}

th {
	text-align: left;
}

table {
	background-color: $table-bg;
	margin-bottom: $line-height-computed;
	max-width: 100%;
	width: 100%;

	> thead,
	> tbody,
	> tfoot {
		> tr {
			> th, > td {
				border-top: 1px solid $table-border-color;
				line-height: $line-height-base;
				padding: $table-cell-padding;
				vertical-align: top;
			}
		}
	}
	> thead > tr > th {
		border-bottom: 2px solid $table-border-color;
		vertical-align: bottom;
	}
	> tbody > tr:hover {
		background-color: $table-bg-hover;
	}
	> caption + thead,
	> colgroup + thead,
	> thead:first-child {
		> tr:first-child {
			> th,
			> td {
				border-top: 0;
			}
		}
	}
	> tbody + tbody {
		border-top: 2px solid $table-border-color;
	}
}

.elfinder-workzone > .elfinder-cwd-wrapper.elfinder-cwd-wrapper-list {
	table {
		//border: 1px solid $table-border-color;
		margin-bottom: 0;
		width: 100%;

		//> thead, > tbody, > tfoot {
		//	> tr {
		//		> th, > td {
		//			border: 1px solid $table-border-color;
		//		}
		//	}
		//}
		//> thead > tr {
		//	> th, > td {
		//		border-bottom-width: 2px;
		//	}
		//}
		> tbody > tr {
			&:hover {
				background-color: $table-bg-hover;
			}
			&:nth-of-type(odd) {
				background-color: $table-bg-accent;

				&:hover {
					background-color: $table-bg-hover;
				}
			}
			&.ui-selected {
				background-color: $table-bg-active;

				&:hover {
					background-color: $table-bg-hover;
				}
			}
		}
	}

	&.elfinder-cwd-fixheader {
		table {
			> thead > tr {
				> th, > td {
					cursor: pointer;
					font-weight: bold;
					position: relative;

					.ui-icon {
						display: inline;
						margin-left: 5px;
						position: static;
						vertical-align: middle;

						&.ui-resizable-handle {
							@include translate(0, -50%);

							cursor: e-resize;
							display: block;
							position: absolute;
							right: floor($grid-gutter-width / 4);
							top: 50%;
						}
					}
				}
			}
		}
	}
}