.elfinder-workzone {
	> .elfinder-navbar {
		> .elfinder-tree {
			> .elfinder-navbar-wrapper > .elfinder-navbar-dir:first-child {
				border-top: 0 !important;
			}
			.elfinder-navbar-dir {
				border-left: 0 !important;
				border-radius: 0 !important;
				border-right: 0 !important;

				.elfinder-navbar-arrow, .elfinder-navbar-icon {
					margin-right: 5px;
				}
			}
		}
	}
	> .elfinder-cwd-wrapper {
		.elfinder-cwd {
			&.elfinder-cwd-view-icons {
				@include clearfix;

				.elfinder-cwd-file {
					float: left;

					margin: 1px;
					min-height: ceil(($font-size-h1 * $line-height-base) + $line-height-computed);
					padding-left: $grid-gutter-width / 2;
					padding-right: $grid-gutter-width / 2;
					width: ceil((($font-size-h1 * $line-height-base) + $line-height-computed) / 3 * 4);

					.elfinder-cwd-icon {
						display: block;
						font-size: $font-size-h1;
						text-align: center;
					}
					.elfinder-cwd-filename {
						@include hyphens();

						text-align: center;
					}

					&.ui-state-hover, &:hover, &:focus {
						background-color: $table-bg-hover;
					}
					&.ui-state-active, &.ui-selected, &:active {
						background-color: $btn-primary-bg;
						color: $btn-primary-color;

						&.ui-state-hover, &:hover {
							background-color: mix($btn-primary-bg, $table-bg-hover, 75%);
						}
					}
				}
			}
			&.elfinder-cwd-view-list {
				@include make-row();

				.elfinder-cwd-file {
					.elfinder-cwd-icon {
						height: $line-height-computed;
						margin-right: 5px;
						vertical-align: middle;
						width: $line-height-computed;

						&.elfinder-cwd-bgurl {
							background-repeat: no-repeat;
							background-size: cover;

							&::after {
								display: none;
							}
						}
					}
					.elfinder-cwd-filename {
						vertical-align: middle;
					}
				}
			}
		}
	}
}