.elfinder-workzone {
	> .elfinder-navbar {
		> .elfinder-tree {
			> .elfinder-navbar-wrapper > .elfinder-navbar-dir:first-child {
				border-top: 0 !important;
			}
			.elfinder-navbar-dir {
				border-left: 0 !important;
				border-radius: 0 !important;
				border-right: 0 !important;

				.elfinder-navbar-arrow, .elfinder-navbar-icon {
					margin-right: 5px;
				}
			}
		}
	}
	> .elfinder-cwd-wrapper {
		.elfinder-cwd {
			&.elfinder-cwd-view-icons {
				@include clearfix;

				.elfinder-cwd-file {
					float: left;
					margin: 1px;
					min-height: ceil(($font-size-h1 * $line-height-base) + $line-height-computed);
					padding-left: floor($grid-gutter-width / 4);
					padding-right: floor($grid-gutter-width / 4);
					width: ceil((($font-size-h1 * $line-height-base) + $line-height-computed) / 3 * 4);

					.elfinder-cwd-icon {
						display: block;
						font-size: $font-size-h1;
						text-align: center;
					}
					.elfinder-cwd-filename {
						max-height: 2 * $line-height-computed;
						overflow: hidden;
						text-align: center;
						word-break: break-all;

						textarea {
							@include box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
							@include form-control-focus;
							@include placeholder;

							background-color: $input-bg;
							background-image: none;
							border: 1px solid $input-border;
							border-radius: $input-border-radius;
							color: $input-color;
							display: block;
							font-size: $font-size-base;
							height: $input-height-base;
							line-height: $line-height-base;
							padding: $padding-base-vertical $padding-base-horizontal;
							width: 100%;
						}
					}

					&.ui-state-hover, &:hover, &:focus {
						background-color: $table-bg-hover;
					}
					&.elfinder-droppable-active {
						background-color: mix($btn-primary-bg, $table-bg-hover, 75%);
					}
					&.ui-state-active, &.ui-selected, &:active {
						background-color: $btn-primary-bg;
						color: $btn-primary-color;

						&.ui-state-hover, &:hover {
							background-color: mix($btn-primary-bg, $table-bg-hover, 75%);
						}
					}
					&.ui-state-disabled, &:disabled {
						background-color: $pagination-disabled-bg;
						color: $pagination-disabled-color;
						cursor: $cursor-disabled;
					}
				}
			}
			&.elfinder-cwd-view-list {
				@include make-row();

				.elfinder-cwd-file {
					.elfinder-cwd-icon {
						height: $line-height-computed;
						margin-right: 5px;
						vertical-align: middle;
						width: $line-height-computed;

						&.elfinder-cwd-bgurl {
							background-repeat: no-repeat;
							background-size: cover;

							&::after {
								display: none;
							}
						}
					}
					.elfinder-cwd-filename {
						vertical-align: middle;

						input {
							@include box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
							@include form-control-focus;
							@include placeholder;

							background-color: $input-bg;
							background-image: none;
							border: 1px solid $input-border;
							border-radius: $input-border-radius;
							color: $input-color;
							display: inline-block;
							font-size: $font-size-base;
							height: $input-height-base;
							line-height: $line-height-base;
							padding: $padding-base-vertical $padding-base-horizontal;
							width: 98%;

							width: -webkit-calc(100% - #{$line-height-computed});
							width: -moz-calc(100% - #{$line-height-computed});
							width: calc(100% - #{$line-height-computed});
						}
					}
				}
			}
		}
	}
}