&.elfinder-dialog-notify {
	min-width: $modal-sm;
	right: 0;
	top: 0;

	.elfinder-notify {
		.elfinder-dialog-icon {
			display: inline-block;
			font-size: $font-size-h1;
			vertical-align: middle;
			width: floor($line-height-base * $font-size-h1);
		}
	}
}