@import "bootstrap/variables";
@import "bootstrap/mixins";

@import "elfinder/mixins";

.elfinder {
	@import "elfinder/buttons";
	@import "elfinder/button-groups";
	@import "elfinder/dropdowns";
	@import "elfinder/icons";
	@import "elfinder/list-group";
	@import "elfinder/modals";
	@import "elfinder/navs";
	@import "elfinder/panels";
	@import "elfinder/quicklook";
	@import "elfinder/tables";
	@import "elfinder/workzone";

	> .ui-resizable-handle {
		display: none;
	}

	.elfinder-drag-helper {
		float: none;
		height: ceil(($font-size-h1 * $line-height-base) + $line-height-computed);
		width: ceil((($font-size-h1 * $line-height-base) + $line-height-computed) / 3 * 4);
		z-index: $zindex-tooltip;

		.elfinder-drag-helper-icon-status {
			@include fa-icon;
			@include translate(50%, 50%);

			bottom: 0;
			color: $brand-danger;
			position: absolute;
			right: 0;

			&::after {
				content: map-get($fa-icons, ban);
			}
		}
		.elfinder-cwd-icon {
			display: block;
			font-size: $font-size-h1;
			height: ceil(($font-size-h1 * $line-height-base) + $line-height-computed);
			text-align: center;
			width: ceil((($font-size-h1 * $line-height-base) + $line-height-computed) / 3 * 4);

			&.elfinder-cwd-bgurl {
				background-position: center;
				background-repeat: no-repeat;
				background-size: contain;

				&::after {
					display: none;
				}
			}
		}
	}

	.elfinder-statusbar {
		@include clearfix;

		.elfinder-stat-size {
			float: right;
		}
		.elfinder-path {
			float: left;
		}
		.elfinder-stat-selected {
			text-align: center;
		}
	}
}